<template>
  <div>
    <h2>Vyberte pokoj, který si chcete zarezervovat</h2>

    <!-- Rodiny a skupiny -->
    <div v-if="reservationType === 'family' || reservationType === 'group'">
      <p v-if="capacityAge !== null">
        Vyhledávání pokojů s vybavením: normální postel - {{capacityAge[0]}}x
        <span v-if="capacityAge[1] > 0">, dětská postel (do 11 let) - {{capacityAge[1]}}x</span>
      </p>

      <div v-if="availableBuildings !== null && availableBuildings.length > 0">

        <table>
          <tr>
            <th>Vybrat</th>
            <th>Pokoj</th>
            <th>Cena za pokoj za noc</th>
            <th>Místa</th>
          </tr>
          <tr v-for="(availableBuilding, key) in availableBuildings" :key="key">
            <td><input type="radio" name="room" v-model="selectedBuildingId" :value="availableBuilding.id"/></td>
            <td class="cell-text">{{availableBuilding.title}}</td>
            <td class="cell-price">{{availableBuilding.pricePerNight}} Kč</td>
            <td class="cell-text">{{availableBuilding.beddingInfo}}</td>
          </tr>
        </table>

        <a href="http://immanuel.cz/ubytovani/" target="_blank">Zde si můžete zobrazit popis a fotky k nalezeným pokojům</a>

      </div>
      <div v-else>
        Nebyly nalezeny žádné pokoje odpovídající vašemu počtu osob.
      </div>
    </div>

    <!-- Single -->
    <div v-else>
      <p>
        Jelikož jednotlivce bude ubytovávat organizátor, vyberte druhy pokojů, do kterých jste ochotni být ubytovaní.
      </p>
      <p>
        Můžete vybrat i více druhů pokojů, usnadníte tím organizátorům zaplnění pokojů.
      </p>
      <p>
        Čím více bude v pokoji ubytováno lidí, tím levnější bude cena na jednotlivce.
        Výsledná cena za ubytování bude záležet na konečném počtu lidí,
        kteří budou v pokoji bydlet a budou vás o ní organizátoři informovat na email nebo telefon.
      </p>
      <table>
        <tr>
          <th>Vybrat</th>
          <th>Pokoj</th>
          <th>Informace a fotografie</th>
          <th>Místa</th>
          <th>Cena za pokoj za noc</th>
        </tr>
        <tr v-for="(singleRoom, key) in singleRooms" :key="key">
          <td><input type="checkbox" v-model="singleRoomsSelected[key]" :value="singleRoom.title"/></td>
          <td class="cell-text">{{singleRoom.title}}</td>
          <td class="cell-text"><a :href="singleRoom.url" target="_blank">Informace o pokojích {{singleRoom.title}}</a></td>
          <td class="cell-number">{{singleRoom.roomCapacity}}</td>
          <td class="cell-price">{{singleRoom.pricePerNight}} - {{singleRoom.pricePerNightMax}} Kč</td>
        </tr>
      </table>
    </div>


    <button @click="previousStep">Zpět</button>
    <button @click="nextStep">Dále</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'BuildingSelector',

  props: ['apiUrl', 'reservationType', 'capacity'],
  data(){
    return {
      availableBuildingsRaw: null,
      selectedBuildingId: null,
      reservationId: null,
      singleRooms:[
        {title: 'CH1-CH15', pricePerNight: 230, pricePerNightMax: 275, roomCapacity: 4, url: 'http://immanuel.cz/ubytovani/letni-ubytovani/chatky/'},
        {title: 'U5-U9', pricePerNight: 350, pricePerNightMax: 470, roomCapacity: 3, url: 'http://immanuel.cz/ubytovani/pokoje-bez-soc-zar/pokoj-u5-az-u9/'},
        {title: 'H1-H9', pricePerNight: 360, pricePerNightMax: 500, roomCapacity: 3, url: 'http://immanuel.cz/ubytovani/pokoje-bez-soc-zar/pokoj-h1-az-h9/'},
        {title: 'U1-U4', pricePerNight: 325, pricePerNightMax: 500, roomCapacity: 4, url: 'http://immanuel.cz/ubytovani/pokoje-bez-soc-zar/pokoj-u1-az-u4/'},
      ],
      singleRoomsSelected: [false,false,false,false]
    };
  },
  computed: {
    capacityAge: function(){
      if (this.capacity === null) return null;

      var capacityAge = [0, 0, 0]; // nad 11 let, pod 11 let včetně, děti bez nároku na lůžko
      for (var i = 0; i < this.capacity.length; i++) {
        if (this.capacity[i].withoutBed) capacityAge[2]++;
        else if (this.capacity[i].age <= 11) capacityAge[1]++;
        else capacityAge[0]++;
      }
      return capacityAge;
    },
    availableBuildings: function(){
      if (this.availableBuildingsRaw === null) return null;
      if (this.capacityAge === null) return null;

      var availableBuildings = [];

      for (var i = 0; i < this.availableBuildingsRaw.length; i++) {
        var roomDetail = {
          id: parseInt(this.availableBuildingsRaw[i].ID),
          title: this.availableBuildingsRaw[i].nazev,
          pricePerNight: parseInt(this.availableBuildingsRaw[i].cena_za_pokoj),
          priceTotal: parseInt(this.availableBuildingsRaw[i].cena_za_pokoj) * 7,
          adultBeds: parseInt(this.availableBuildingsRaw[i].pocetDospele),
          totalBeds: parseInt(this.availableBuildingsRaw[i].pocetDospele) + parseInt(this.availableBuildingsRaw[i].pocetDetske),
          totalBedsWithExtra: parseInt(this.availableBuildingsRaw[i].pocetMax),
        };

        var bedCount = [0, 0, 0, 0, 0]; // luzko, palanda, gouc, detskeLuzko, pristylka
        var bedLabels = this.availableBuildingsRaw[i].typyPostele.split(',');
        for (var j = 0; j < bedLabels.length; j++) {
          if (bedLabels[j] === 'luzko') bedCount[0]++;
          if (bedLabels[j] === 'palanda') bedCount[1]++;
          if (bedLabels[j] === 'gouc') bedCount[2]++;
          if (bedLabels[j] === 'detskeLuzko') bedCount[3]++;
          if (bedLabels[j] === 'pristylka') bedCount[4]++;
        }

        var bedTitleParts = [];
        if (bedCount[0] > 0) bedTitleParts.push('Postel ('+bedCount[0]+'x)');
        if (bedCount[1] > 0) bedTitleParts.push('Palanda nahoře ('+bedCount[1]+'x)');
        if (bedCount[2] > 0) bedTitleParts.push('Gauč ('+bedCount[2]+'x)');
        if (bedCount[3] > 0) bedTitleParts.push('Dětské lůžko ('+bedCount[3]+'x)');
        if (bedCount[4] > 0) bedTitleParts.push('Možnost přistýlky ('+bedCount[4]+'x)');
        roomDetail.beddingInfo = bedTitleParts.join(', ');

        // validate room needs

        var adultBedsNeed = this.capacityAge[0];
        var totalBedsNeed = this.capacityAge[0] + this.capacityAge[1];

        if (roomDetail.adultBeds < adultBedsNeed) continue;
        if (roomDetail.totalBedsWithExtra < totalBedsNeed) continue;
        if (roomDetail.totalBeds > totalBedsNeed) continue;
        availableBuildings.push(roomDetail);
      }

      return availableBuildings;
    },
    selectedBuilding: function(){
      if (this.reservationType === 'family' || this.reservationType === 'group') {
        if (this.selectedBuildingId === null) return null;

        for (var i = 0; i < this.availableBuildings.length; i++) {
          if (this.availableBuildings[i].id === this.selectedBuildingId) {
            return {
              id: this.availableBuildings[i].id,
              title: this.availableBuildings[i].title,
              priceTotal: this.availableBuildings[i].priceTotal,
              priceTotalMax: this.availableBuildings[i].priceTotal,
            };
          }
        }
      }

      if (this.reservationType === 'single') {
        var titles = [];
        var mins = [];
        var maxes = [];

        for (var j=0; j<this.singleRoomsSelected.length; j++) {
          if (this.singleRoomsSelected[j]) {
            titles.push(this.singleRooms[j].title);
            mins.push(this.singleRooms[j].pricePerNight * 7);
            maxes.push(this.singleRooms[j].pricePerNightMax * 7);
          }
        }

        if (titles.length) {
          return {
            id: null,
            title: titles.join(', '),
            priceTotal: Math.min.apply(null, mins),
            priceTotalMax: Math.max.apply(null, maxes),
          };
        }
      }

      return null;
    }
  },

  methods:{
    reloadComponent: function(){
      this.releaseReservation(this.fetchBuildingsByReservationType);
    },

    reloadBuildings: function() {
      this.availableBuildingsRaw = null;
      this.selectedBuildingId = null;
      this.releaseReservation(this.fetchBuildingsByReservationType);
    },

    fetchBuildingsByReservationType: function () {
      switch (this.reservationType) {
        case 'family':
          this.loadBuildingsForFamily();
          break;
        case 'group':
          this.loadBuildingsForGroup();
          break;
      }
    },

    releaseReservation: function(callback) {
      var component = this;

      if (this.reservationId === null) {
        callback();
      } else {
        var requestUrl = component.apiUrl + '?api=cancelRoomReservation&reservationId=' + this.reservationId;
        axios.get(requestUrl).then(function(){
          component.reservationId = null;
          callback();
        });
      }
    },

    loadBuildingsForFamily: function() {
      var component = this;
      var requestUrl = component.apiUrl + '?api=availableRoomsForFamily';
      axios.get(requestUrl).then(function(response){
        component.availableBuildingsRaw = response.data;
      });
    },

    loadBuildingsForGroup: function() {
      var component = this;
      var requestUrl = component.apiUrl + '?api=availableRoomsForGroup';
      axios.get(requestUrl).then(function(response){
        component.availableBuildingsRaw = response.data;
      });
    },


    previousStep: function(){
      this.$emit('back');
    },

    nextStep: function(){
      var component = this;

      if (this.selectedBuilding === null) {
        alert('Vyberte pokoj');
        return;
      }

      if (this.selectedBuilding.id === null) {
        component.$emit('selected', this.selectedBuilding);

      } else {
        var requestUrl = component.apiUrl + '?api=createRoomReservation&roomId=' + this.selectedBuilding.id;
        axios.get(requestUrl).then(function(response) {
          if (response.data.success === false) {
            alert('Nepodařilo se zarezervovat pokoj. Pravděpodobně byl někdo jiný rychlejší a zarezervoval pokoj před vámi. Zkuste výběr pokoje zopakovat, případně zvolit jiný.');
            return;
          }
          component.reservationId = response.data.reservationId;
          component.$emit('selected', component.selectedBuilding);
        });
      }



    }
  },

  watch:{
//    reservationType: function(){
//      this.reloadBuildings();
//    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

