<template>
  <div>
    <h2>Vyberte, základní informace pro výběr ubytování</h2>

    <p>
      <label for="capacity">Počet: </label>
      <select id="capacity" v-model="selectedCapacity">
        <option v-for="(opt, key) in capacityOptions" :value="opt" :key="key">{{opt}}</option>
      </select>
    </p>

    <div v-for="(i, key) in selectedCapacityIndexes" :key="key">
      <h3>Osoba {{i+1}}</h3>
      <p>
        <label :for="'name'+i">Jméno: </label>
        <input :id="'name'+i" type="text" v-model="data[i].name" />
      </p>
      <p>
        <label :for="'surname'+i">Příjmení: </label>
        <input :id="'surname'+i" type="text" v-model="data[i].surname" />
      </p>
      <p>
        <label :for="'date'+i">Datum narození: </label>
        <input :id="'date'+i" type="date" v-model="data[i].date" placeholder="RRRR-MM-DD" />
      </p>
      <p>
        <span v-if="ages[i] !== -1"> Věk na kempu {{ages[i]}} let</span>
      </p>
      <p v-if="reservationType !== 'single' && ages[i] !== -1 && ages[i] <= 4">
        <label :for="'withoutBed'+i">Dítě bez nároku na lůžko: </label>
        <input :id="'withoutBed'+i" type="checkbox" v-model="data[i].withoutBed" />
        (Zaškrtněte u dětí do 4 let, kteří budou spát ve stejné posteli jako rodič)
      </p>
    </div>

    <button @click="previousStep">Zpět</button>
    <button @click="nextStep">Dále</button>
  </div>
</template>

<script>
import Utils from '../utils/Utils.js';

export default {
  name: 'CapacitySelector',

  props: ['reservationType'],
  data(){
    return {
      selectedCapacity: 0,
      data: [
        {name: '', surname: '', date: '', withoutBed: false},
        {name: '', surname: '', date: '', withoutBed: false},
        {name: '', surname: '', date: '', withoutBed: false},
        {name: '', surname: '', date: '', withoutBed: false},
        {name: '', surname: '', date: '', withoutBed: false},
      ]
    };
  },
  computed:{
    capacityOptions: function(){
      if (this.reservationType === 'single') {
        return [1];
      } else if (this.reservationType === 'family') {
        return [3, 4, 5];
      } else {
        return [2, 3, 4];
      }
    },

    selectedCapacityIndexes: function(){
      var indexes = [0,1,2,3,4];
      return indexes.slice(0, this.selectedCapacity);
    },

    ages: function(){
      var ages = [-1, -1, -1, -1, -1];

      for (var i=0; i<this.selectedCapacity; i++) {
        if (/^(19|20)\d{2}-\d{2}-\d{2}$/.test(this.data[i].date) === false) continue;
        ages[i] = Utils.getAge(this.data[i].date);
      }

      return ages;
    }
  },

  methods:{
    previousStep: function(){
      this.$emit('back');
    },

    nextStep: function(){
      var emitData = [];

      if (this.selectedCapacity <= 0) {
        alert('Vyberte, pro kolik lidí je tato rezervace');
        return;
      }

      for (var i = 0; i < this.selectedCapacity; i++) {
        if (this.data[i].name.trim() === ''
          || this.data[i].surname.trim() === ''
          || this.data[i].date.trim() === ''
        ) {
          alert('Nemáte vyplněné všechny údaje');
          return;
        }

        if (/^(19|20)\d{2}-\d{2}-\d{2}$/.test(this.data[i].date) === false){
          alert('Datumy musí být ve formátu RRRR-MM-DD (rok-měsíc-den, například 2001-01-01)');
          return;
        }

        emitData.push(Object.assign({}, {
          name: this.data[i].name,
          surname: this.data[i].surname,
          date: this.data[i].date,
          withoutBed: this.ages[i] > 4 ? false : this.data[i].withoutBed,
          age: this.ages[i]
        }));
      }

      this.$emit('selected', emitData);
    }
  },

  watch: {
    capacityOptions: function(){
      this.selectedCapacity = this.capacityOptions[0];
    },
    reservationType: function(){
      if (this.reservationType === 'single') {
        this.data[0].withoutBed = false;
      }
    }
  }
}
</script>
