<template>
  <div>
    <h2>Vyberte stravování</h2>

    <div v-for="(person, i) in capacity" :key="i">
      <h3>{{person.name}} {{person.surname}}, {{person.date}}</h3>

      <p v-if="capacity[i].age >= 2">
        <label :for="'strava'+i">Strava: </label>
        <select :id="'strava'+i" v-model="selectedFood[i]">
          <option v-for="(label, j) in priceLabels" :key="j" :value="j">
            {{availableFood[i][j]}} Kč, {{label}}
          </option>
        </select>
      </p>
      <p v-else>
        Pro děti do dvou let musí stravu zajistit rodiče
      </p>

    </div>

    <button @click="previousStep">Zpět</button>
    <button @click="nextStep">Dále</button>
  </div>
</template>

<script>
export default {
  name: 'FoodSelector',

  props: ['reservationType', 'capacity'],
  data(){
    return {
      selectedFood: [0,0,0,0,0],
      prices: {
        adult: [1717,1581,817,681,907,906],
        child_6_11: [1207,1111,577,481,637,636],
        child_4_5: [1027,946,487,406,547,546],
        child_2_3: [487,446,247,206,247,246],
      },
      ageLabels: {
        adult: 'věk 12+',
        child_6_11: 'věk 6-11',
        child_4_5: 'věk 4-5',
        child_2_3: 'věk 2-3'
      },
      priceLabels: [
        'plná penze',
        'plná penze, zúčastním se půstu',
        'snídaně + obědy',
        'snídaně + obědy, zúčastním se půstu',
        'snídaně + večeře',
        'snídaně + večeře, zúčastním se půstu']
    };
  },
  computed:{
    availableFoodGroup: function(){
      var availableFoodGroup = [];

      for (var i = 0; i < this.capacity.length; i++) {
        var group = null;
        if (this.capacity[i].age >= 12) group = 'adult';
        if (this.capacity[i].age >= 6 && this.capacity[i].age <= 11) group = 'child_6_11';
        if (this.capacity[i].age >= 4 && this.capacity[i].age <= 5) group = 'child_4_5';
        if (this.capacity[i].age >= 2 && this.capacity[i].age <= 3) group = 'child_2_3';

        availableFoodGroup.push(group);
      }

      return availableFoodGroup;
    },

    availableFood: function(){
      var availableFood = [];

      for (var i = 0; i < this.capacity.length; i++) {
        availableFood.push(this.prices[this.availableFoodGroup[i]]);
      }

      return availableFood;
    }
  },


  methods:{
    previousStep: function(){
      this.$emit('back');
    },

    nextStep: function(){
      var emitData = [];

      for (var i = 0; i < this.capacity.length; i++) {
        if (this.availableFoodGroup[i] === null) {
          emitData.push(null);
          continue;
        }

        var hasLunch = (this.selectedFood[i] === 0 || this.selectedFood[i] === 1 || this.selectedFood[i] === 2 || this.selectedFood[i] === 3);
        var hasDinner = (this.selectedFood[i] === 0 || this.selectedFood[i] === 1 || this.selectedFood[i] === 4 || this.selectedFood[i] === 5);
        var hasFast = (this.selectedFood[i] === 1 || this.selectedFood[i] === 3 || this.selectedFood[i] === 5);

        emitData.push({
          hasLunch: hasLunch,
          hasDinner: hasDinner,
          hasFast: hasFast,

          label: this.priceLabels[this.selectedFood[i]] + ' (' + this.ageLabels[this.availableFoodGroup[i]] + ')',
          price: this.availableFood[i][this.selectedFood[i]]
        });
      }

      this.$emit('selected', emitData);
    }
  }
}
</script>
