<template>
  <div>
    <h2>Osobní údaje</h2>

    <div v-for="(person, key) in capacity" :key="key">
      <h3>{{person.name}} {{person.surname}}, {{person.date}}</h3>
      <p>
        <label :for="'street'+key">Ulice: </label>
        <input :id="'street'+key" v-model="data[key].address.street" type="text"/>
      </p>
      <p>
        <label :for="'city'+key">Město: </label>
        <input :id="'city'+key" v-model="data[key].address.city" type="text"/>
      </p>
      <p>
        <label :for="'zipCode'+key">PSČ: </label>
        <input :id="'zipCode'+key" v-model="data[key].address.zipCode" type="text"/>
      </p>
      <p>
        <label :for="'phone'+key">Telefon: </label>
        <input :id="'phone'+key" v-model="data[key].phone" type="text"/>
      </p>
      <p>
        <label :for="'email'+key">E-mail: </label>
        <input :id="'email'+key" v-model="data[key].email" type="text"/>
      </p>
      <p>
        <label :for="'gender'+key">Pohlaví: </label>
        <select :id="'gender'+key" v-model="data[key].gender">
          <option value="">(Vyberte)</option>
          <option value="m">Muž</option>
          <option value="z">Žena</option>
        </select>
      </p>
      <p>
        <label :for="'rebornYear'+key">Rok spasení: </label>
        <input :id="'rebornYear'+key" v-model="data[key].rebornYear" type="text"/>
      </p>
      <p>
        <label :for="'isBaptised'+key">Pokřtěn ponorem do vody: </label>
        <select :id="'isBaptised'+key" v-model="data[key].isBaptised" >
          <option value="">(Vyberte)</option>
          <option value="1">Ano</option>
          <option value="0">Ne</option>
        </select>
      </p>
      <p>
        <label :for="'church'+key">Domovská církev: </label>
        <input :id="'church'+key" v-model="data[key].church" type="text"/>
      </p>
      <p>
        <label :for="'note'+key">Další informace: </label>
        <input :id="'note'+key" v-model="data[key].note" type="text"/>
      </p>
    </div>

    <button @click="previousStep">Zpět</button>
    <button @click="nextStep">Dále</button>
  </div>
</template>

<script>
export default {
  name: 'PersonalDetailsSelector',

  props: ['reservationType', 'capacity'],
  data(){
    return {
      data: [
        { address: {city: '', street: '', zipCode: ''}, phone: '', email: '', church: '', rebornYear: '', isBaptised: '', gender: '', note: '' },
        { address: {city: '', street: '', zipCode: ''}, phone: '', email: '', church: '', rebornYear: '', isBaptised: '', gender: '', note: '' },
        { address: {city: '', street: '', zipCode: ''}, phone: '', email: '', church: '', rebornYear: '', isBaptised: '', gender: '', note: '' },
        { address: {city: '', street: '', zipCode: ''}, phone: '', email: '', church: '', rebornYear: '', isBaptised: '', gender: '', note: '' },
        { address: {city: '', street: '', zipCode: ''}, phone: '', email: '', church: '', rebornYear: '', isBaptised: '', gender: '', note: '' },
      ]
    };
  },
  computed:{

  },

  methods:{
    previousStep: function(){
      this.$emit('back');
    },

    nextStep: function(){
      var emitData = [];

      var errors = [];
      for (var i = 0; i < this.capacity.length; i++) {
        var personName = this.capacity[i].name + ' ' + this.capacity[i].surname + ', ' + this.capacity[i].date;

        if (this.data[i].address.street.trim() === '') errors.push('Vyplňte ulici u osoby: ' + personName);
        if (this.data[i].address.city.trim() === '') errors.push('Vyplňte město u osoby: ' + personName);
        if (this.data[i].address.zipCode.trim() === '') errors.push('Vyplňte PSČ u osoby: ' + personName);

        if (this.data[i].phone.trim() === '' && this.data[i].email.trim() === ''){
          errors.push('Vyplňte telefon nebo email u osoby: ' + personName);
        }

        if (this.data[i].gender.trim() === '') errors.push('Vyplňte pohlaví u osoby: ' + personName);
        if (this.data[i].isBaptised.trim() === '') errors.push('Vyplňte pokřtěn ponorem do vody u osoby: ' + personName);

        emitData.push(Object.assign({}, this.data[i]));
      }
      if (errors.length > 0) {
        alert(errors.join("\n"));
        return;
      }

      this.$emit('selected', emitData);
    }
  }
}
</script>
