<template>
  <div>
    <h2>Rekapitulace</h2>

    <div v-for="(person, i) in capacity" :key="i">
      <h3>{{person.name}} {{person.surname}}, {{personalDetails[i].gender==='m' ? 'muž' : 'žena'}}, {{person.date}}</h3>
      <p>
        <strong>Adresa: </strong>
        <span>{{personalDetails[i].address.street}}, {{personalDetails[i].address.zipCode}} {{personalDetails[i].address.city}}</span>
      </p>
      <p>
        <strong>Kontakty: </strong>
        <span>{{personalDetails[i].phone}}, {{personalDetails[i].email}}</span>
      </p>
      <p>
        <strong>Rok spasení: </strong>
        <span v-if="personalDetails[i].rebornYear">{{personalDetails[i].rebornYear}}</span>
        <span v-else>Neuvedeno</span>
      </p>
      <p>
        <strong>Pokřtěn ponorem do vody: </strong>
        <span>{{personalDetails[i].isBaptised ? 'Аno' : 'Ne'}}</span>
      </p>
      <p>
        <strong>Domovská církev: </strong>
        <span v-if="personalDetails[i].church">{{personalDetails[i].church}}</span>
        <span v-else>Neuvedeno</span>
      </p>
      <p>
        <strong>Další informace: </strong>
        <span v-if="personalDetails[i].note">{{personalDetails[i].note}}</span>
        <span v-else>Neuvedeno</span>
      </p>
      <p>
        <strong>Strava: </strong>
        <span v-if="selectedFood[i] === null">Není</span>
        <span v-else>{{selectedFood[i].label}}</span>
      </p>
    </div>

    <h3>Objednávka</h3>
    <table>
      <tr>
        <th>Položka</th>
        <th>Cena</th>
      </tr>
      <tr v-for="(item, key) in prices.partial" :key="key">
        <th class="cell-text">{{item.label}}</th>
        <td class="cell-price">
          {{item.price}}
          <span v-if="item.price !== item.priceMax">
            - {{item.priceMax}}
          </span>
          Kč
        </td>
      </tr>
      <tr>
        <th class="cell-text">CELKEM</th>
        <th class="cell-price">
          {{prices.total.min}}
          <span v-if="prices.total.min !== prices.total.max">
            - {{prices.total.max}}
          </span>
          Kč
        </th>
      </tr>
    </table>

    <p>
      <input id="gdpr" type="checkbox" v-model="gdpr" />
      <label v-if="reservationType === 'single'" for="gdpr">
        Odesláním tohoto formuláře dáváte souhlas se zpracováním osobních údajů podle zák. č. 101/2000 Sb. o ochraně osobních údajů,
        ve znění pozdějších předpisů. O tom, jak nakládáme s vašimi osobními údaji, se dozvíte na www.cirkevoaza.cz pod
        Zásady ochrany osobních údajů (<a target="_blank" href="http://www.cirkevoaza.cz/HGETMI_GDPR_web.pdf">Zobrazit</a>).
        Svůj souhlas můžete kdykoli odvolat.
      </label>
      <label v-else for="gdpr">
        Odesláním tohoto formuláře dáváte za celou přihlašovanou skupinu souhlas se zpracováním osobních údajů podle zák. č. 101/2000 Sb. o ochraně osobních údajů,
        ve znění pozdějších předpisů. O tom, jak nakládáme s vašimi osobními údaji, se dozvíte na www.cirkevoaza.cz pod
        Zásady ochrany osobních údajů (<a target="_blank" href="http://www.cirkevoaza.cz/HGETMI_GDPR_web.pdf">Zobrazit</a>).
        Svůj souhlas může každý jednotlivě kdykoli odvolat.
      </label>
    </p>

    <button @click="previousStep">Zpět</button>
    <button @click="submit">Odeslat rezervaci</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Recapitulation',

  props: ['apiUrl', 'reservationType', 'capacity', 'selectedBuilding', 'personalDetails', 'selectedFood'],
  data(){
    return {
      data: [],
      gdpr: false
    };
  },
  computed:{
    prices: function(){
      var partial = [];

      // Ubytovani
      partial.push({
        label: 'Ubytování ' + this.selectedBuilding.title,
        price: this.selectedBuilding.priceTotal,
        priceMax: this.selectedBuilding.priceTotalMax
      });

      // Strava
      for (var i = 0; i < this.selectedFood.length; i++) {
        if (this.selectedFood[i] === null) continue;
        partial.push({
          label: this.selectedFood[i].label,
          price: this.selectedFood[i].price,
          priceMax: this.selectedFood[i].price
        });
      }

      // Soucet
      var total = { min: 0, max: 0 };
      for (var j=0; j<partial.length; j++) {
        total.min += partial[j].price;
        total.max += partial[j].priceMax;
      }

      return {
        partial: partial,
        total: total
      }
    },
    outputData: function(){
      var outputData = {};

      outputData.reservationType = this.reservationType;

      outputData.room = {
        isSelected: this.selectedBuilding.id !== null,
        roomId: this.selectedBuilding.id,
        title: this.selectedBuilding.title
      };

      outputData.person = [];
      for (var i = 0; i < this.capacity.length; i++) {
        var person = Object.assign({}, this.capacity[i]);
        person.details = Object.assign({}, this.personalDetails[i]);
        person.food = Object.assign({}, this.selectedFood[i]);

        outputData.person.push(person);
      }

      return outputData;
    }
  },

  methods:{
    previousStep: function(){
      this.$emit('back');
    },

    submit: function(){
      if (this.gdpr === false) {
        alert('Pro založení rezervace musíte souhlasit s podmínkami zpracivání osobních údajů.');
        return;
      }

      var component = this;
      var data = encodeURIComponent(JSON.stringify(this.outputData));

      axios.get(this.apiUrl + '?api=submitReservation&data=' + data).then(function(response){
        if (response.data.success === true) {
          alert('Rezervace úspěšně založena');
          component.$emit('success');

        } else {
          alert("Při vytváření rezervace došlo k chybě: \n" + response.data.error);
        }
      });
    }
  }
}
</script>
