<template>
  <div>
    <h2>Vyberte, jaký typ rezervace chcete provést</h2>

    <p>
      <input name="reservation_type" type="radio" v-model="reservationType" value="family" id="reservation_type_family">
      <label for="reservation_type_family">
        Rodina. Vyberte tuto možnost pokud jste rodiče s dětmi do 18ti let. Dále pak svobodná matka minimálně se dvěma dětmi do 18ti let.
      </label>
    </p>

    <p>
      <input name="reservation_type" type="radio" v-model="reservationType" value="group" id="reservation_type_group">
      <label for="reservation_type_group">Skupina. Vyberte tuto možnost pokud jste 2 - 4 osoby (s nárokem na lůžko), které nejsou rodina.</label>
    </p>

    <p>
      <input name="reservation_type" type="radio" v-model="reservationType" value="single" id="reservation_type_single">
      <label for="reservation_type_single">Jednotlivec bez skupiny. Vyberte tuto možnost pokud chcete s někým sdílet pokoj ale s nikým jste se zatím nedohodli.
        Výběr pokoje zajistí organizační tým na základě Vašich preferencí.</label>
    </p>

    <button @click="nextStep">Dále</button>
  </div>
</template>

<script>
export default {
  name: 'ReservationTypeSelector',

  data(){
    return {
      reservationType: null,
      apiUrl: ''
    };
  },

  methods:{
    nextStep(){
      if (this.reservationType !== 'family' && this.reservationType !== 'group' && this.reservationType !== 'single') {
        alert('Vyberte typ rezervace');
        return;
      }

      this.$emit('selected', this.reservationType);
    }
  }
}
</script>
