<template>
  <div>

    <div v-show="step === 1">
      <ReservationTypeSelector
          @selected="reservationTypeSelected">
      </ReservationTypeSelector>
    </div>

    <div v-show="step === 2">
      <CapacitySelector
          :reservation-type="reservationType"
          @selected="capacitySelected"
          @back="backToReservationType">
      </CapacitySelector>
    </div>

    <div v-show="step === 3">
      <BuildingSelector
          ref="buildingSelector"
          :reservation-type="reservationType"
          :capacity="capacity"
          :api-url="apiUrl"
          @selected="buildingSelected"
          @back="backToCapacity">
      </BuildingSelector>
    </div>

    <div v-show="step === 4">
      <PersonalDetailsSelector
          :reservation-type="reservationType"
          :capacity="capacity"
          @selected="personalDetailsSelected"
          @back="backToBuilding">
      </PersonalDetailsSelector>
    </div>

    <div v-show="step === 5">
      <FoodSelector
          :reservation-type="reservationType"
          :capacity="capacity"
          @selected="foodSelected"
          @back="backToPersonalDetails">
      </FoodSelector>
    </div>

    <div v-if="step === 6">
      <Recapitulation
          :api-url="apiUrl"
          :reservation-type="reservationType"
          :capacity="capacity"
          :selected-building="selectedBuilding"
          :personal-details="personalDetails"
          :selected-food="selectedFood"

          @success="reservationSuccessfull"
          @back="backToFood">
      </Recapitulation>
    </div>

    <div v-show="step === 99">
      <h2>Rezervace proběhla úspěšně</h2>
    </div>
  </div>
</template>

<script>
import ReservationTypeSelector from './steps/ReservationTypeSelector.vue';
import CapacitySelector from './steps/CapacitySelector.vue';
import BuildingSelector from './steps/BuildingSelector.vue';
import PersonalDetailsSelector from './steps/PersonalDetailsSelector.vue';
import FoodSelector from './steps/FoodSelector.vue';
import Recapitulation from './steps/Recapitulation.vue';

export default {
  name: 'RegistrationForm',
  components: {
    ReservationTypeSelector,
    CapacitySelector,
    BuildingSelector,
    PersonalDetailsSelector,
    FoodSelector,
    Recapitulation
  },

  props: ['apiUrl'],
  data(){
    return {
      step: 1,
      reservationType: null, // 'rodina', 'skupina', 'jednotlivec'
      capacity: null,
      selectedBuilding: null,
      personalDetails: null,
      selectedFood: null
    };
  },
  computed:{
  },

  methods:{
    reservationTypeSelected(type){
      this.reservationType = type;
      this.step = 2;
    },
    capacitySelected: function(capacity){
      this.capacity = capacity;
      this.$refs.buildingSelector.reloadComponent();
      this.step = 3;
    },
    buildingSelected: function(building){
      this.selectedBuilding = building;
      this.step = 4;
    },
    personalDetailsSelected: function(personalDetails){
      this.personalDetails = personalDetails;
      this.step = 5;
    },
    foodSelected: function(food){
      this.selectedFood = food;
      this.step = 6;
    },
    reservationSuccessfull: function(){
      this.step = 99;
    },

    backToReservationType: function(){
      this.step = 1;
    },
    backToCapacity: function(){
      this.step = 2;
    },
    backToBuilding: function(){
      this.$refs.buildingSelector.reloadComponent();
      this.step = 3;
    },
    backToPersonalDetails: function(){
      this.step = 4;
    },
    backToFood: function(){
      this.step = 5;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
