<template>
  <div id="app">
    <RegistrationForm
        api-url="https://reresys.oaza.tv/prihlaska11_core.php"
    >
    </RegistrationForm>
  </div>
</template>

<script>
import RegistrationForm from './components/RegistrationForm.vue'

export default {
  name: 'app',
  components: {
    RegistrationForm
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#app table {
  margin: auto;
}
table td, table th{
  border: 1px solid gray;
  padding: 3px;
}
.cell-text {
  text-align: left;
}
.cell-number {
  text-align: right;
}
.cell-price {
  text-align: right;
}
</style>
